div {
	
}

ul {

}

li {

}

.col{
	border-radius: 3px;
}

body {
	background-image: url("images/backgroundUpdate.png");
}

.jumbotron {
    /*background-image: url("images/background.png");*/
    /*color:chartreuse;*/
    width: 70%;
    margin: 5%;
		margin-top: 3%;
	

}

h1 {
	font-family: 'Righteous';
}

.clearfix{
	padding:10px;
}

nav {
	font-family: 'Righteous';
}

#InfoContain {
	/* width: 70%; */
}

#Info {
	background-image: url("images/green_dust.png");
	/*width: 70%;*/
	padding: 3%;
	/*color: chartreuse;*/
}

span span {
	font-size: 20px;
	width: 30px;
	padding: 5px;
	text-align: center;
	/*color: blue;*/
}

.lps {
	color: red;
}

.cur_lps {
	color: green;
}

.blank_div {
	height: 10px;
	color: blue;
}

input {
	margin: 1%;
	color: blue;
}

#initialArray {
	width: 60%;
	margin:3%;
	padding: 3%;
	background-color:seagreen;
}

p {
	/*padding-right: 20%;*/
}

footer {
	background-color: #343a40;
	font-family: 'Righteous';
	font-size: 20px;
	padding: 20px;
	color: white;
	height: 8em;
	
	
}

#container { 
background-color: #e9ecef;
}

.center {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 992px) { 

.flip-card {
	background-color: transparent;
	/* width: inherit; */
	height:200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	padding: 0 0 0 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 16px;
	margin-left: 5px;
	min-width: 250px;
	}

}

@media (min-width: 1200px) { 

.flip-card {
	background-color: transparent;
	/* width: inherit; */
	height:200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	padding: 0 0 0 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 40px;
	margin-left: 5px;
	min-width: 250px;
	}

}



@media (max-width: 992px) { 

.flip-card {
	background-color: transparent;
	/* width: inherit; */
	height:200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	padding: 0 0 0 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	min-width: 250px;
	}

}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
  	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	}
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: rgb(13, 232, 170);
	color: white;
	}
  
  /* Style the back side */
  .flip-card-back {
	background-color: chartreuse;
	color: white;
	transform: rotateY(180deg);
  }

  #secondFlip {
	  /* position: relative;
	  left: 20em;
	  bottom: 268px; */
  }

  #thirdFlip {
	/* position: relative;
	left: 40em;
	bottom: 540px; */
}

  #secondFlip .flip-card-front {
	background-color: rgb(61, 225, 195);
  }

  #secondFlip .flip-card-back {
	background-color: mediumvioletred;
  }


  #thirdFlip .flip-card-front {
	background-color: seagreen;
  }
  #thirdFlip .flip-card-back {
	background-color: red;
  }