div {
	
}

ul {

}

li {

}

body {
	background-image: url("images/background.png");
}

.jumbotron {
    /*background-image: url("images/background.png");*/
    /*color:chartreuse;*/
    width: 70%;
    margin: 5%;
    margin-top: 3%;

}

#Info h1 {
	font-family: 'Righteous';
}

nav {
	font-family: 'Righteous';
}

#Info {
	background-image: url("images/green_dust.png");
	width: 70%;
	padding: 3%;
	/*color: chartreuse;*/
}

span span {
	font-size: 20px;
	width: 30px;
	padding: 5px;
	text-align: center;
	/*color: blue;*/
}

.lps {
	color: red;
}

.cur_lps {
	color: green;
}

.blank_div {
	height: 10px;
	color: blue;
}

input {
	margin: 1%;
	color: blue;
}

#initialArray {
	width: 60%;
	margin:3%;
	padding: 3%;
	background-color:seagreen;
}

p {
	/*padding-right: 20%;*/
}

footer {
	background-color: #343a40;
	font-family: 'Righteous';
	font-size: 20px;
	padding: 20px;
	color: white;
	height: 8em;
	
	
}

